{% comment %}
    Renders a list of menu items
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)

    Usage:
    {% include 'nav', linklist: section.settings.main_linklist %}
{% endcomment %}
<nav role="navigation">
  {% for link in linklists[linklist].links %}
    <div class="nav-item"> 
      <a class="nav-link heading" href="{{ link.url }}"> 
        {{ link.title | escape }}
      </a>
    </div>
  {% endfor %}
</nav>