<h1>Collections</h1>

{% schema %}
{
  "name": {
    "en": "Collections"
  },
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}